{% extends "base.html" %}
{% block content %}
    <h1><strong>Ashley Moreiro</strong></h1>
    <h2><i>Section: IS218-004</i></h2>
   <div class="row">
  <div class="column">
    <img src="../../static/images/66788908364__5CC48430-19D3-4F0F-8F78-E7738F334506.jpg" alt="heart">
    <img src="../../static/images/IMG_0726.jpg" alt="rose">
    <img src="../../static/images/IMG_0765.jpg" alt="skull">
    <img src="../../static/images/IMG_0671.JPG" alt="boba">
    <img src="../../static/images/IMG_0765.jpg" alt="pinecone">
    <img src="../../static/images/IMG_8193.jpg" alt="snake">
  </div>
  <div class="column">
    <img src="../../static/images/myself.png" alt="myself">
    <img src="../../static/images/IMG_6011.PNG" alt="dirtbike">
    <img src="../../static/images/IMG_7238.JPG" alt="boat">
    <img src="../../static/images/IMG_0919.PNG" alt ="tickets">
    <img src="../../static/images/IMG_0085.jpg" alt="unload">
  </div>
  <div class="column">
    <img src="../../static/images/IMG_0915.PNG" alt="dragon">
    <img src="../../static/images/4E294C6D-F7A9-4D58-9E17-A5850F2062F9.jpg" alt="biggieeats">
    <img src="../../static/images/IMG_7381.PNG" alt="jenny">
    <img src="../../static/images/IMG_6519.jpg" alt="biggierides">
    <img src="../../static/images/IMG_1224.jpg" alt="fish">

  </div>
  <div class="column">
    <img src="../../static/images/IMG_0427.JPG" alt="riding">
    <img src="../../static/images/IMG_8459.jpg" alt="jetta">
    <img src="../../static/images/64823019209__BC9474C8-45F7-403C-A5B5-F5263DCD5C8C.jpg" alt="boat">
    <img src="../../static/images/IMG_1225.jpg" alt="pitbikes">
    <img src="../../static/images/IMG_8839.jpg" alt="fixing">
  </div>
</div>
    <p>My name is Ashley Moreiro, I am from Elmwood Park, NJ. My major is Information Systems. I currently run a small business, Cosmic Carpets. I teach from home via Zoom Children’s STEM. When I’m not studying I ride dirt bikes in various trails throughout NJ, NY, and PA. </p>
{% endblock %}