{% extends "base.html" %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Project 2</title>
</head>
<body>
 <div class="carousel">
   <button class="carousel_button"></button>
   <div class="carousel__track-container"></div>
      <li class="carousel-track">
          <li class ="carousel_slide"></li>
            <img src="(../../static/images/Git-Logo-2Color.png)" alt=""
          </li>
          <li class ="carousel_slide"></li>
            <img src="(../../static/images/pycharm.jpg)" alt=""
          </li>
          <li class ="carousel_slide"></li>
            <img src="(../../static/images/docker logo.png)" alt=""
          </li>
      </ul>
   </div>
   <button class="carousel_button"></button>
 </div>
</body>
</html>
{% endblock %}