{% extends "base.html" %}
{% block content %}
    <h1><strong>Docker</strong></h1>
    <img src="../../static/images/docker logo.png" alt="git" width="700" height="333">
    <h2><strong>Getting started with Docker</strong></h2>
    <h3><strong>System Requirements:</strong></h3>
    <p> Your Windows machine must meet the following requirements to successfully install Docker Desktop.</p>
    <ul>
        <li>Windows 11 64-bit: Home or Pro version 21H2 or higher, or Enterprise or Education version 21H2 or higher.</li>
        <li>Windows 10 64-bit: Home or Pro 2004 (build 19041) or higher, or Enterprise or Education 1909 (build 18363) or higher.</li>
        <li>Enable the WSL 2 feature on Windows. For detailed instructions, refer to the Microsoft documentation.</li>
        <li>The following hardware prerequisites are required to successfully run WSL 2 on Windows 10 or Windows 11:</li>
            <a>64-bit processor with Second Level Address Translation (SLAT)</a>
            <a>4GB system RAM</a>
            <a>BIOS-level hardware virtualization support must be enabled in the BIOS settings. For more information, see Virtualization.</a>
        <li>Download and install the Linux kernel update package.</li>
    </ul>

    <img src="../../static/images/container-what-is-container.png" alt="container" width="500" height="333">
    <h1><strong>Use containers to Build, Share and Run your applications</strong></h1>
    <h2><strong> What is a Container?:</strong></h2>
    <h3>Package Software into Standardized Units for Development, Shipment and Deployment</h3>
    <p>A container is a standard software unit that packages code and all of its dependencies so that the application can be moved from one computing environment to another quickly and reliably. A Docker container image is a small, standalone software package that contains everything needed to run an application, including code, runtime, system tools, system libraries, and settings.</p>
    <p>At runtime, container images become containers, and when Docker containers run on Docker Engine, images become containers. Containerized software, which is available for both Linux and Windows-based applications, will always run the same regardless of the infrastructure. Containers separate software from its surroundings and ensure that it performs consistently despite differences in development and staging environments, for example.</p>
    <p><i>Docker containers that run on Docker Engine:</i></p>




{% endblock %}