{% extends "base.html" %}
{% block content %}

<h2>Getting to know Git</h2>
    <img src="![](../../static/images/git.png)" alt="git" width="500" height="333">

    <p> A branch in Git is a reference to a specific commit. The branch pointer advances with each new commit, diverging in the graph only when a commit is made on a common ancestor commit. To work with your branches in Git, you can use a variety of commands. </p>

    <p>Motto: "Love your life perfect your life, beautify all things in your life - Tecumseh"</p>

<p>Favourite slangs: "At least am alive" & "Bless up"</p>

<br/>
<br/>
<h2>Interest Level</h2>



{% endblock %}