{% extends "base.html" %}
{% block content %}
    <h1><strong>Docker</strong></h1>
    <h2><strong>Getting started with Docker</strong></h2>
    <img src="../../static/images/docker logo.png" alt="docker" width="740" height="360">

    <h3><strong>System Requirements:</strong></h3>
    <p> Your Windows machine must meet the following requirements to successfully install Docker Desktop.</p>
    <ul>
        <li>Windows 11 64-bit: Home or Pro version 21H2 or higher, or Enterprise or Education version 21H2 or higher.</li>
        <li>Windows 10 64-bit: Home or Pro 2004 (build 19041) or higher, or Enterprise or Education 1909 (build 18363) or higher.</li>
        <li>Enable the WSL 2 feature on Windows. For detailed instructions, refer to the Microsoft documentation.</li>
        <li>The following hardware prerequisites are required to successfully run WSL 2 on Windows 10 or Windows 11:</li>
            <a>64-bit processor with Second Level Address Translation (SLAT)</a>
            <a>4GB system RAM</a>
            <a>BIOS-level hardware virtualization support must be enabled in the BIOS settings. For more information, see Virtualization.</a>
        <li>Download and install the Linux kernel update package.</li>
    </ul>

    <img src="../../static/images/container-what-is-container.png" alt="container" width="750" height="450">
    <h1><strong>Use containers to Build, Share and Run your applications</strong></h1>
    <h2><strong> What is a Container?:</strong></h2>
    <h3>Package Software into Standardized Units for Development, Shipment and Deploydent</h3>
    <p>A container is a standard software unit that packages code and all of its dependencies so that the application can be moved from one computing environment to another quickly and reliably. A Docker container image is a small, standalone software package that contains everything needed to run an application, including code, runtime, system tools, system libraries, and settings.</p>
    <p>At runtime, container images become containers, and when Docker containers run on Docker Engine, images become containers. Containerized software, which is available for both Linux and Windows-based applications, will always run the same regardless of the infrastructure. Containers separate software from its surroundings and ensure that it performs consistently despite differences in development and staging environments, for example.</p>
    <p><i>Docker containers that run on Docker Engine:</i></p>
    <ul>
        <li><strong> Standard:</strong> Docker created the industry standard for containers, so they could be portable anywhere</li>
        <li><strong>Lightweight:</strong> Containers share the machine’s OS system kernel and therefore do not require an OS per application, driving higher server efficiencies and reducing server and licensing costs</li>
        <li><strong>Secure:</strong> Applications are safer in containers and Docker provides the strongest default isolation capabilities in the industry</li>
    </ul>
    <h1>Docker Containers Are Everywhere: Linux, Windows, Data center, Cloud, Serverless, etc.</h1>
    <p>The Docker container technology was first released as an open source Docker Engine in 2013.</p>
    <p>It made use of existing computing concepts such as containers and, more specifically, primitives known as cgroups and namespaces in the Linux world. Docker's technology is unique in that it focuses on developers' and systems administrators' needs to separate application dependencies from infrastructure.</p>
    <img src="../../static/images/docker today.png" alt="docker" width="750" height="450">
    <p>Docker containers and their functionality were brought to Windows Server as a result of the company's success in the Linux world (sometimes referred to as Docker Windows containers).</p>
    <p>Docker and its open source project, Moby, have had their technology adopted by all major data center vendors and cloud providers. For their container-native IaaS offerings, many of these providers use Docker. Furthermore, the most popular open source serverless frameworks make use of Docker container technology.</p>



{% endblock %}


