{% extends "base.html" %}
{% block content %}
    <h1>Continuous Integration and Deployment</h1>
    <p><strong><i>Heroku manages app deployments with Git</i></strong></p>
    <h2><strong>Automate your workflow from idea to production</strong></h2>
    <p>GitHub Actions makes it easy to automate all your software workflows, now with world-class CI/CD. Build, test, and deploy your code right from GitHub. Make code reviews, branch management, and issue triaging work the way you want.</p>
    <h3><strong>Github Actions</strong></h3>
    <p>Automate, customize, and execute your software development workflows right in your repository with GitHub Actions. You can discover, create, and share actions to perform any job you'd like, including CI/CD, and combine actions in a completely customized workflow.</p>
    <h4>Introduction:</h4>
    <p>You only need a GitHub repository to create and run a GitHub Actions workflow.</p>
    <ol>
        <li>Create a <i>.github/workflows</i> directory in your repository on GitHub if this directory does not already exist.</li>
        <li>In the <i>.github/workflows</i> directory, create a file named github-actions-demo.yml. For more information, see "Creating new files."</li>
        <li>Copy the following YAML contents into the <i>github-actions-demo.yml file:</i> in PyCharm</li>
    </ol>
    <img src="../../static/images/yml.png" alt="screenshot">
    <h3>Heroku</h3>
    <img src="../../static/images/heroku.png" alt="heroku">
    <p>Heroku is a cloud platform as a service supporting several programming languages. One of the first cloud platforms, Heroku has been in development since June 2007, when it supported only the Ruby programming language, but now supports Java, Node.js, Scala, Clojure, Python, PHP, and Go</p>
    <p>The tool can provide you with built-in instant run-time application services. Moreover, you don’t need to think about infrastructure because it managed automatically by the software itself.</p>
    <h4>Benefits of Heroku</h4>
    <ol>
        <li>It comes with a powerful dashboard as well as a command line interface (CLI).</li>
        <li>Allows the developer to concentrate on the code rather than the infrastructure.</li>
        <li>Boost the efficiency of the cloud app development team</li>
        <li>Provides a single bill for all projects that are broken down by team.</li>
        <li>Rich application monitoring allows you to keep track of and improve your performance.</li>
        <li>Creates a unified dashboard for your development, QA, and business stakeholders.</li>
        <li>During system updates, the Heroku Enterprise architecture ensures minimal or no downtime.</li>
        <li>Allows you to reduce the amount of friction in the development process.</li>
        <li>Allows you to concentrate on innovation rather than operations.</li>
    </ol>

    <h4>Before you can deploy your app to Heroku, initialize a local Git repository and commit your application code to it.</h4>
    <p><strong>git add .</strong></p>
    <p><strong>git commit -m "My first commit"</strong></p>
    <h4>Deploy Your Code</h4>
    <p>To deploy your app to Heroku, use the <i>git push </i> command to push the code from your local repository’s main branch to your <i>heroku</i> remote.</p>
    <p>Use this same command whenever you want to deploy the latest committed version of your code to Heroku.</p>
    <p>Heroku only deploys code that you push to the master or main branches of the remote.</p>
    <h3>Everyone Commits</h3>
    <p><i>"Integration is primarily about communication. Integration allows developers to tell other developers about the changes they have made. Frequent communication allows people to know quickly as changes develop."</i></p>
    <p><strong>Martin Fowler<i>01 May 2006</i></strong></p>

{% endblock %}