{% extends "base.html" %}
{% block content %}
    Getting to know Git

    Git is a free and open source distributed version control system designed to handle everything from small to very large projects with speed and efficiency.

    A branch in Git is a reference to a specific commit. The branch pointer advances with each new commit, diverging in the graph only when a commit is made on a common ancestor commit. To work with your branches in Git, you can use a variety of commands.





{% endblock %}