{% extends "base.html" %}
{% block content %}

<h1>Getting to know Git</h1>
    <img src="../../static/images/git.png" alt="git" width="500" height="333">

    <h2> What is Git? </h2>
    <h3> Git is useful for anyone who writes code or tracks changes to files, from web developers to app developers. So, what exactly is it, and why should you begin using it?</h3>
    <p> The most widely used version control system is Git. Git keeps track of the changes you make to files so you can see what you've done and go back to previous versions if you need to. Git also facilitates collaboration by allowing multiple people's changes to be merged into a single source. </p>
    <p> Whether you write code that will only be seen by you or work as part of a team, Git will be useful to you.</p>
    <h2> Why use Git? </h2>
    <img src="../../static/images/git-branches-merge.png" alt="git" width="500" height="333">
    <p>Git is a piece of software that runs on your computer. Your computer saves your files and their history. You can also store a copy of the files and their revision history using online hosts (such as GitHub or Bitbucket). You can collaborate more easily with other developers if you have a central location where you can upload your changes and download changes from others. Git can merge changes automatically, so two people can work on different parts of the same file and then merge their modifications without having lost each other's work!</p>

    <h2>Git Glossary</h2>
    <p><strong>Branches:</strong> A branch in Git is a reference to a specific commit. The branch pointer advances with each new commit, diverging in the graph only when a commit is made on a common ancestor commit. To work with your branches in Git, you can use a variety of commands.</p>
    <p><strong>Merging:</strong> Merging is the process of bringing together recent changes from multiple branches into a single new commit that affects all of them.</P>
    <p><strong>Commit: </strong> Git commit generates a commit, which is essentially a snapshot of your repository. These commits are time-stamped snapshots of your entire repository. You should make new commits on a regular basis, based on logical change units. Commits should tell a story about your repository's history and how it came to be the way it is now over time. In addition to the contents and message, commits contain a wealth of metadata, such as the author, timestamp, and more.</p>
    <p><strong>Tag:</strong></strong>Annotated tags (created with -a, -s, or -u) have a creation date, the tagger's name and e-mail address, a tagging message, and an optional GnuPG signature. A "lightweight" tag, on the other hand, is just a name for an object (usually a commit object).</p>
    <p><strong>Repositories:</strong>In GIT, repositories are collections of files from various versions of a Project. These files are imported from the repository into the user's local server for further updates and changes to the file's content.</p>
    <br>
<br/>



{% endblock %}